
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: coral;
}

.banner {
    height: 100vh;
    width: 100%;
    background: url(../images/women.jpg.crdownload);
    opacity: 0.8;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .navbar {
    margin-top: 4%;
}

.banner .nav {
    margin-right: 10%;
}

.banner .nav li a {
    color:#aaa;

}

.banner .start {
    margin-top: 15%;
    transform: translateY(-15%);
}

.banner .start h1{
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;

}

.banner .start p {
    color: cornsilk;
}

.banner .start a{
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    background:#e91d43 ;
    padding: 10px 20px;
    font-size: 2em;
    font font-weight: 600;

}